<%= form_for(@amigo) do |f| %>
  <% if @amigo.errors.any? %>
    <div class="alert alert-danger" role="alert">
     
        <h2><%= pluralize(@amigo.errors.count, "error") %> não permitiram incluir um novo amigo:</h2>

        <ul>
        <% @amigo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      
    </div>
  <% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Novo amigo</h3>
  </div> 

  <div class="panel-body">   
     
     <div class="form-group">
        <label >Nome</label>
        <%= f.text_field :nome,  class: "form-control" %> 
        </input>   
     </div>
        
    <div class="form-group">
        <label >Email</label>
        <%= f.text_field :email,  class: "form-control" %> 
        </input>   
    </div>

    <div class="form-group">
        <label >Telefone</label>
        <%= f.text_field :telefone,  class: "form-control" %> 
        </input>   
    </div>

    <div class="form-group">
        <label >Endereço</label>
        <%= f.text_field :endereco,  class: "form-control" %> 
        </input>   
    </div>

    <div class="form-group">
        <label >Aniversário</label>
        <%= f.text_field :aniversario,  class: "form-control" %> 
        </input>   
    </div>
  

      </div>
      
      
      <div class="panel-footer">
        <%= f.submit "Salvar", class: "btn btn-primary" %>
      </button>
        
      </div>
    </div>
  </div>
<% end %>
