<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Informações do amigo</h3>
  </div> 
<p>
  <strong>Nome:</strong>
  <%= @amigo.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @amigo.email %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @amigo.telefone %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @amigo.endereco %>
</p>

<p>
  <strong>Aniversario:</strong>
  <%= @amigo.aniversario %>
</p>
</div>
<%= link_to 'Editar', edit_amigo_path(@amigo) %> |
<%= link_to 'Voltar', amigos_path %>
